/*Dashboard Content*/

.mainContent{
    margin: 30px 0px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.contentNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contentNav .heading h2{
    font-weight: 600;
    font-size: 16px;
    color: #2D3779;
}

.contentNav .heading span{
    font-weight: 500;
    font-size: 13px;
    color: #B5B5C3;
}

.cmmBtn{
    margin-right: 10px;
    border-radius: 6px;
    font-weight: 600;
    padding: 8px 20px;
    font-size: 12px;
}
.filterContent {
    display: flex;
    align-items: center;
}
.filterText {
    margin-left: 4px;
}
.outlinedBtn{
    border: 1px solid #E9F0FC;
    background: #FFFFFF;
    color: #313C5E;
}

.outlinedBtn:hover{
    background-color: #448DC9;
    border: 1px solid #448DC9;
    color: #fff;
}

.ligBtn{
    background: #F1F4FF;
    color: #464E5F;
    font-size: 12px;
    font-weight: 500 !important;
    border: 0px;
}
.primBtn{
    background: #2D3779;
    font-size: 12px;
    font-weight: 500 !important;
}
.columContainer {
    min-width: 350px;
    margin-right: 20px;
}
.dataCard{
    background: #FFFFFF;
    border: 1px solid #E9F0FC;
    border-radius: 6px;
    padding: 16px;
}

.spanWrapper {
  margin-bottom: 16px;
}

.dataCard .s1{
    color: #2D3779;
    font-weight: 500;
    font-size: 14px;
}

.dataCard .s2{
    color: #6D728E;
    font-weight: 600;
}

.singleData{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    background: #FFFFFF;
    border: 1px solid #E9F0FC;
    padding: 5px 8px;
    border-radius: 4px;
    }
.innerDataCard{ 
    width: 100%;
    display: flex;
    flex-direction: row;
}
.innerDataCard .user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0px 8px;
    float: left;
}

.innerDataCard .user span{
    color: #2D3779;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
 }
.userContainer {
    display: flex;
    flex-direction: row;
}
.innerDataCard .user a{
   text-decoration: none;
   display: flex;
   align-items: center;
   font-weight: 500;
   font-size: 15px;
   color: #9F9FB0;
}

.innerDataCard .info{
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    float: right;
}
.innerDataCard .info span{
    color: #2D3779;
    font-weight: 500;
    font-size: 15px;

 }
.container {
    display: flex;
    align-items: center;
}

.dash {
    margin: 0 9px;
}
.form-check-label {
    font-size: 12px;
    font-weight: 600;
}
 .rowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
 }
.rowContainer::-webkit-scrollbar {
    height: 5px;
    margin: 6px 0;
  }
   
  .rowContainer::-webkit-scrollbar-thumb {
    background-color: #E5E7F2;
  }

 .clearFilterText {
    font-size: 12px;
    font-weight: 600;
    color: #7E839F;
 }

 .innerDataCard .info a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    color: #9F9FB0;
 }

 .pagination{
    margin-top: 20px;
    margin-left: 40px;
    width: 100%;
    color: #6D728E;
 }
 
 .pagination li .page-link{
    border: 0px ;
    color: #6D728E;
 }

 .pagination .active .page-link{
    border: 0px ;
    background-color: transparent;
    color: #5878DD;
    font-weight: 500;
 }

 .pagination li:first-child .page-link{
    padding: 4px 8px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    margin-right: 1px;
 }

 .pagination li:last-child .page-link{
    padding: 4px 8px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
 }

 .socialCard{
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #6D728E;
  }
  
  .scoialNa{
    display: flex;
    flex-direction: row;
  
    align-items: center;
    justify-content: space-between;
    margin-bottom: 19px;
  }
  .imageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .followingContainer {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .rateContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: max-content;
    padding: 2px;
    border-radius: 4px;
  }
  .bgGreen {
    background: rgba(47, 209, 198, 0.25);
  }
  .bgRed {
    background: rgba(255, 58, 58, 0.25);
  }
  .rate {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
  }
  .textGreen {
    color: #2FD1C6;
  }
  .textRed {
    color: #E53B3B;
  }
  .time{
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: #A9AECD;
    text-align: end;
  }
  .dataContainer {
    display: flex;
    align-items: center;
    margin: 0 0 16px 16px;
  }
  .dataText {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 6px;
    color: #2D3779;
  }
  .instaBg{
    border-radius: 50%;
    padding: 10px 10px;
    color: #fff;
    margin-right: 10px;
    background: radial-gradient(circle at 30% 107%, #753a88 0%,#d6249f 60%,#cc2b5e 90%);
  }
  
  .ytBg{
    border-radius: 50%;
    padding: 10px 10px;
    color: #fff;
    margin-right: 10px;
    background: #FF0000;
  }
  
  .tikBg{
    border-radius: 50%;
    padding: 10px 10px;
    color: #fff;
    margin-right: 10px;
    background: #161C40;
  }
  
  .socialData{
    margin: 20px 0px;
    width: 100%;
    display: flex;
  }

  .draggable {
    cursor: move;
  }

  .draggable.dragging {
    opacity: .5;
  }

  .actdionModal{
    padding: 0 36px !important;
  }
  .scheduleModal {
    padding: 0 32px !important;
  }

  .optionsModal .modal-content {
    width: 100%;
  }
.actionCloseImage {
  width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 16px;
    align-items: center;
    justify-content: flex-end;
}
.actionCloseImage:hover{
  cursor: pointer;
}
  .actdionModal h2 {
    font-size: 20px;
    text-align: center;
    color: #2D3779;
    font-weight: 700;
    margin-bottom: 20px;
}
.emailModalSubject {
  font-size: 14px;
  font-weight: 600;
  color: #7E839F;
}
.emailModalTextField {
  padding: 14px 20px !important;
}
.emailModalTextArea{
  padding: 12px 20px;
}
.actionModalHeading {
  font-size: 22px;
  font-weight: 600;
  margin-top: 6px;
}
.messageSelection {
  margin-top: 16px;
}
.actionDm{
    margin-top: 32px;
}

.actionDm .btnRightCont, .actionLabel .btnRightCont, .btnRightCont{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.sendBtn {
  width: 100%;
  margin-bottom: 36px;
  margin-right: 0 !important;
  font-size: 16px !important;
  padding: 16px 20px !important;
}
.actionLabel{
    border: 1px solid #e9f0fc;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}

.scheduleModalHeading {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 2px;
}

.scheduleModalTextField{
  padding: 12px !important;
  color: #9F9FB0 !important;
}

.schedultBtn {
  font-size: 14px !important;
  padding: 14px 0 !important;
  width: 100%;
  margin-right: 0 !important;
  margin-bottom: 32px;
}

.messageHeading {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #7E839F !important;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBody{
  padding: 0 !important;

}

.expoModalCont{
    padding: 0 36px;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #7E839F !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.exportModalHeading{
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 6px;
    margin-left: 36px;
    color: #2D3779;
}
.expoBtn{
    padding: 16px 24px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 36px 36px 36px;
}
.closeImage{
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding-right: 21px;
    align-items: center;
    justify-content: flex-end;
}
.closeImage:hover{
  cursor: pointer;
}
.btnCenCont{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.singleData .dropdown-toggle {
    background: #F3F6F9;
    padding: 3px 5px;
    color: #464E5F;
    font-size: 18px;
    border: 0px;
    font-weight: 600;
}
