/*Dashboard Content*/

.mainContent{
    margin: 30px 0px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.contentNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contentNav .heading h2{
    font-weight: 600;
    font-size: 16px;
    color: #2D3779;
}

.contentNav .heading span{
    font-weight: 500;
    font-size: 13px;
    color: #B5B5C3;
}

.cmmBtn{
    margin-right: 10px;
    border-radius: 6px;
    font-weight: 600;
    padding: 8px 20px;
    font-size: 12px;
}
.clrBtn {
  border-radius: 50%;
  padding: 6px 9px !important;
}
.filterBtn {
  font-size: 16px !important;
}
.filterContent {
    display: flex;
    align-items: center;
}
.filterText {
    margin-left: 4px;
}
.outlinedBtn{
    border: 1px solid #E9F0FC;
    background: #FFFFFF;
    color: #313C5E;
}

.outlinedBtn:hover{
    background-color: #448DC9;
    border: 1px solid #448DC9;
    color: #fff;
}

.ligBtn{
    background: #F1F4FF;
    color: #464E5F;
    font-size: 12px;
    font-weight: 500 !important;
    border: 0px;
}
.primBtn{
    background: #2D3779;
    font-size: 12px;
    font-weight: 500 !important;
}
.columContainer {
    min-width: 350px;
    margin-right: 20px;
    border: 1px solid #E9F0FC;
}
.dataCard{
    background: #FFFFFF;
    border-radius: 6px;
    padding: 16px;
    height: 400px;
    overflow-y: auto;
}

.dataCard::-webkit-scrollbar {
  height: 3px;
  width: 4px;
}
 
.dataCard::-webkit-scrollbar-thumb {
  background-color: #E5E7F2;
}


.spanWrapper {
  margin-bottom: 16px;
}

.dataCard .s1{
    color: #2D3779;
    font-weight: 500;
    font-size: 14px;
}

.dataCard .s2{
    color: #6D728E;
    font-weight: 600;
}

.singleData{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    background: #FFFFFF;
    border: 1px solid #E9F0FC;
    padding: 5px 8px;
    border-radius: 4px;
    }
.innerDataCard{ 
    width: 100%;
    display: flex;
    flex-direction: row;
}
.innerDataCard .user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0px 8px;
    float: left;
}

.innerDataCard .user span{
    color: #2D3779;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
 }
.userContainer {
    display: flex;
    flex-direction: row;
}
.innerDataCard .user a{
   text-decoration: none;
   display: flex;
   align-items: center;
   font-weight: 500;
   font-size: 15px;
   color: #9F9FB0;
}

.innerDataCard .info{
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    float: right;
}
.innerDataCard .info span{
    color: #2D3779;
    font-weight: 500;
    font-size: 15px;

 }
.container {
    display: flex;
    align-items: center;
}

.dash {
    margin: 0 9px;
}
.form-check-label {
    font-size: 12px;
    font-weight: 600;
}
 .rowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
 }
.rowContainer::-webkit-scrollbar {
    height: 5px;
    margin: 6px 0;
  }
   
  .rowContainer::-webkit-scrollbar-thumb {
    background-color: #E5E7F2;
  }

 .clearFilterText {
    font-size: 12px;
    font-weight: 600;
    color: #7E839F;
 }

 .innerDataCard .info a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    color: #9F9FB0;
 }

 .pagination{
    margin-left: 40px;
    width: 100%;
    color: #6D728E;
 }
 
 .pagination li .page-link{
    border: 0px ;
    color: #6D728E;
 }

 .pagination .active .page-link{
    border: 0px ;
    background-color: transparent;
    color: #5878DD;
    font-weight: 500;
 }

 .pagination li:first-child .page-link{
    padding: 4px 8px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    margin-right: 1px;
 }

 .pagination li:last-child .page-link{
    padding: 4px 8px;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
 }
.date .rdrDefinedRangesWrapper{
    width: 0;
    opacity: 0;
}
.date .rdrDateRangePickerWrapper {
    height: 350px;
}
 .socialCard{
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #6D728E;
  }
  
  .scoialNa{
    display: flex;
    flex-direction: row;
  
    align-items: center;
    justify-content: space-between;
    margin-bottom: 19px;
  }
  .imageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .followingContainer {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .rateContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: max-content;
    padding: 2px;
    border-radius: 4px;
  }
  .bgGreen {
    background: rgba(47, 209, 198, 0.25);
  }
  .bgRed {
    background: rgba(255, 58, 58, 0.25);
  }
  .rate {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
  }
  .textGreen {
    color: #2FD1C6;
  }
  .textRed {
    color: #E53B3B;
  }
  .time{
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: #A9AECD;
    text-align: end;
  }
  .dataContainer {
    display: flex;
    align-items: center;
    margin: 0 0 16px 16px;
  }
  .dataText {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 6px;
    color: #2D3779;
  }
  .instaBg{
    border-radius: 50%;
    padding: 10px 10px;
    color: #fff;
    margin-right: 10px;
    background: radial-gradient(circle at 30% 107%, #753a88 0%,#d6249f 60%,#cc2b5e 90%);
  }
  
  .ytBg{
    border-radius: 50%;
    padding: 10px 10px;
    color: #fff;
    margin-right: 10px;
    background: #FF0000;
  }
  
  .tikBg{
    border-radius: 50%;
    padding: 10px 10px;
    color: #fff;
    margin-right: 10px;
    background: #161C40;
  }
  
  .socialData{
    margin: 20px 0px;
    width: 100%;
    display: flex;
  }

  .draggable {
    cursor: move;
  }

  .draggable.dragging {
    opacity: .5;
  }

  .addNewModal {
    padding: 0 36px !important;
  }

  .addNewModalFormContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
  }
  .addNewModalContainer .modal-dialog {
    max-width: none;
  }
  .addNewModalFormLeft {
    width: 50%;
  }
  .addNewModalFormRight {
    width: 50%;
  }
  .addNewModalHeading {
    font-size: 22px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 28px;
  color: #2D3779;
  }

  .addNewModalFromValue {
    font-size: 14px;
    font-weight: 600;
    color: #7E839F;
  }

  .addNewModalTextField {
    padding: 14px 20px !important;
    font-size: 14px !important;
    font-weight: 500 !important ;
    color: #9F9FB0 !important;
    background-color: #FFFFFF !important;
  }

  .addNewModalBtn {
    width: 100%;
    padding: 16px 0 !important;
    font-size: 16px !important;
    margin-bottom: 36px;
  }

  .addNewModalDiseaseWrapper .form-control{
    padding: 14px 20px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #9F9FB0 !important;
    background: #FFFFFF !important;
  }
  .addNewModalLocationContainer .form-control{
    padding: 14px 20px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #9F9FB0 !important;
    background: #FFFFFF !important;
  }
  .actdionModal{
    padding: 0 36px !important;
  }
  .scheduleModal {
    padding: 0 32px !important;
  }

  .optionsModal .modal-content {
    width: 100%;
  }
.actionCloseImage {
  width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 16px;
    align-items: center;
    justify-content: flex-end;
}
.actionCloseImage:hover{
  cursor: pointer;
}
  .actdionModal h2 {
    font-size: 20px;
    text-align: center;
    color: #2D3779;
    font-weight: 700;
    margin-bottom: 20px;
}
.emailModalSubject {
  font-size: 14px;
  font-weight: 600;
  color: #7E839F;
}
.emailModalTextField {
  padding: 14px 20px !important;
}
.emailModalTextArea{
  padding: 12px 20px;
}
.actionModalHeading {
  font-size: 22px;
  font-weight: 600;
  margin-top: 6px;
  color: #2D3779;
}
.messageSelection {
  margin-top: 16px;
}
.actionDm{
    margin-top: 32px;
}
.noteModalTextField {
  padding: 12px !important;
  background-color: #FFFFFF !important;
}

.actionDm .btnRightCont, .actionLabel .btnRightCont, .btnRightCont{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.sendBtn {
  width: 100%;
  margin-bottom: 36px;
  margin-right: 0 !important;
  font-size: 16px !important;
  padding: 16px 20px !important;
}
.actionLabel{
    border: 1px solid #e9f0fc;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}

.scheduleModalHeading {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 2px;
  color: #2D3779;
}

.scheduleModalTextField{
  padding: 12px !important;
  color: #9F9FB0 !important;
  background: #FFFFFF !important;
}

.schedultBtn {
  font-size: 14px !important;
  padding: 14px 0 !important;
  width: 100%;
  margin-right: 0 !important;
  margin-bottom: 32px;
}

.messageHeading {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #7E839F !important;
}

.noteModalGroup {
  margin-top: 12px;
}
.noteModalSelection {
  font-size: 12px;
  font-weight: 400;
  color: #7E839F;
  margin-right: 4px;
}
.labelGroup {
  margin-bottom: 20px;
}
.labelGroup .form-control {
  padding: 4px;
}
.labelGroup .form-control .rbt-token {
  padding: 8px 10px;
}
.noteModalOptions {
  font-size: 12px;
  font-weight: 400;
  color: #448DC9 !important;
  border-bottom: 1px solid #448DC9;

}

.noteModalPreviousCommentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F8F9FD;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 2px;
}

.noteModalPreviousWrapper {
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.noteModalPreviousWrapper::-webkit-scrollbar {
    height: 3px;
    width: 4px;
  }
   
  .noteModalPreviousWrapper::-webkit-scrollbar-thumb {
    background-color: #E5E7F2;
  }

.noteModalPreviousCommentLeftContent {
  flex-grow: 1;
  font-size: 11px;
  font-weight: 400;
  color: #363C48;
}
.noteModalDropdown {
  margin-left: 16px;
}
.noteModalPreviousCommentWrapper .dropdown-toggle {
  background: #FFFFFF;
  padding: 3px 5px;
  color: #464E5F;
  font-size: 18px;
  border: 0px;
  font-weight: 600;
}
.noteModalBtn {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 14px 0 !important;
  width: 100%;
  margin-bottom: 32px;
}

.noteModalPreviousCommentWrapper .dropdown-toggle::after{
  content: none;
}
.noteModalEdit {
  background-color: #F8F9FD !important;
}
.scheduleDateGroup .react-datepicker-popper {
  z-index: 4;
}

.scheduleModalInfluenersGroup .form-control {
  background: #FFFFFF !important;
  padding: 12px;
}
.scheduleModalSubject {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #7E839F;
}
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBody{
  padding: 0 !important;

}

.expoModalCont{
    padding: 0 36px;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #7E839F !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.exportModalHeading{
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 6px;
    margin-left: 36px;
    color: #2D3779;
}
.expoBtn{
    padding: 16px 24px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 36px 36px 36px;
}
.closeImage{
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding-right: 21px;
    align-items: center;
    justify-content: flex-end;
}
.closeImage:hover{
  cursor: pointer;
}
.btnCenCont{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.singleData .dropdown-toggle {
    background: #F3F6F9;
    padding: 3px 5px;
    color: #464E5F;
    font-size: 18px;
    border: 0px;
    font-weight: 600;
}
.dateTime{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1em;
}

.checkboxContainer {
    margin-top: 20px;
}

.timeLabel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin-left: 10px;
}
.dateCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
}
.dateCont .emailModalTextField{
    padding: 8px !important;
    width: 100%;
    height: 46px;
}
.timeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.timeLabel .time_picker_container {
    font-size: 12px;
    font-weight: 600;
    width: 115px;
    border: 1px solid #edf1ff;
}

.timeLabel .preview_container{
    padding-left: 25px;
    left: 40%;
}

.timeLabel .modal_container {
    width: 300px;
}

.timeLabel .preview_container svg {
    width: 20px !important;
}

.timeLabel .react_times_button {
    height: 44px;
    box-shadow: none;
} 

.allDayCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}



#editClient .nav-tabs{
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  justify-content: unset !important;
  border: none;
}

#editClient .nav-link {
  color: #7E839F;
}
#editClient .nav-link.active{
  border-color: #ffffff;
  color: #448DC9;
  border-bottom: solid 2px #448DC9;
}

#editClient{
  max-width: 800px !important;
}
#editClient .modal-content{
  width: 100%;
  padding: 36px;
}
#editClient h2{
  text-align: left;
}

#editClient hr{
  border: 1px solid #E9F0FC;
}


#editClient .modal-body {
  padding: 0px !important;
}

.editHeader{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.labelsSection{
  position: relative;
}
#addMoreLabels{
  margin-top: -65px;
  position: sticky;
  left: 65.7%;
  z-index: 9999;
  padding: 2px 8px;
}


#basic-typeahead-single
{
  background-color: #fff !important;
}
.rbt-input-multi {
  background-color: #fff !important;
}
.rbt-input-multi.disabled {
  background-color: #fff !important;
}

#meetingsSection .rbt-token .rbt-token-label {
  color: #fff;
  background-color: #000080;
  border-radius: 0.25rem;
}

#meetingsSection .rbt-token.rbt-token-removeable {
  color: #fff;
  background-color: #000080;
  border-radius: 0.25rem;
}


#remindersSection .rbt-token .rbt-token-label {
  color: #fff;
  background-color: #ffa500;
  border-radius: 0.25rem;
}


#remindersSection .rbt-token.rbt-token-removeable {
  color: #fff;
  background-color: #ffa500;
  border-radius: 0.25rem;
}

#tasksSection .rbt-token .rbt-token-label {
  color: #fff;
  background-color: #008000;
  border-radius: 0.25rem;
}

#tasksSection .rbt-token.rbt-token-removeable {
  color: #fff;
  background-color: #008000;
  border-radius: 0.25rem;
}




#formGroupEmail:disabled {
  background-color: #fff !important;
}

#formGridState:disabled {
  background-color: #fff !important;
}


.form-control:disabled {
  background-color: #fff;
}

.form-control {
  background-color: #fff;
}


#addMoreMeetings{
  top: 35px;
  position: absolute;
  left: 85.7%;
  z-index: 9999;
  padding: 2px 8px;
}
#addMoreLabelsNote{
  margin-top: -65px;
  position: sticky;
  left: 59.6%;
  z-index: 9999;
  padding: 5px 12px;
  background-color: #448DC9;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

.commentsAdded{
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;

}
.commentsAdded .eachComment {
  align-items: center;
  padding: 12px;
  margin-bottom: 16px;   
  width: 416px;
  background: #F8F9FD;
  border-radius: 2px;
  flex: none;
  order: 1;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}